$color-primary: #0D4653;
$color-primary-dark: #082931;
$color-primary-light: #1a8ea8;

$color-secondary-light: #fbb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #7ed56f;
$color-tertiary-dark: #28b485;


$color-dark-grey: #777;
$color-black: #000;
$color-white: #fff;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$grid-width: 110rem;
$space-vertical: 8rem;
$space-horizontal: 6rem;

$font-size: 1.6rem;

